
*{
    box-sizing: border-box;
}


.application{
    padding-left: 5%;
    width: 50%;
    border-radius: 4px;
    overflow: hidden;
}


.header{
    background-color: rgba(171, 183, 183, 0.5);
    padding: 1px 1px;
    margin-top: 5%;
    border-radius: 7px;
    text-align: center;
    
}


.form{
    padding: 20px;
    margin-left: -3%;
}


.form-control{
    
    padding-bottom: 20px;
    margin-bottom: 10px;
    position: relative;
}

.form-control input, select{
    background-color: rgb(231, 227, 227);
    padding: 7px;
    width: 100%;
    display: block;
    border-radius: 4px;
    border: 1px solid rgba(108, 122, 137, 1);
}

.form-control small{
    visibility: hidden;
    color: red;
}


.form-control.success input{
    border: 2px solid rgb(60, 238, 60);
}

.form-control.error input{
    border: 2px solid red;
}



.main{
    display: flex;
}

#graduads{
    width: 50%;
    height: 100%;
    
}




#country-code{
    width: 25%;
    margin-right: -30%;
}



#phone-number{
    padding-right: 20%
}


.back-button{
    
    margin-left: 68%;
    background-color: white;
    border: lightgrey;
    border-radius: 3px;
    width: 10px;
    font-size: medium;
    
  
   
    
}

.back-button button{
    padding: 7px;
    width: 67px;
    height: 10px;
    padding-bottom: 20px;
    text-align: center;
    background-color: lightgrey;
    border-radius: 4px;
}



#submit{
    color: white;
    margin-left: 70%;
    background-color: green;
    border: lightgrey;
    border-radius: 3px;
    padding: 1%;
    width: 70px;
    font-size: 16px;
    font-family: inherit;

    
}



/* css for success application */
h4{
    color:  rgb(5, 46, 59);
}