#country-code{
    width: 25%;
    margin-right: -30%;
}



#phone-number{
    padding-right: 20%
}


#back{
    margin: 2%;
    margin-left: 4%;
    background-color:lightgrey;
    border: lightgrey;
    border-radius: 3px;
    padding: 0.3%;
    width: 70px;
    font-size: medium;
}

#submit{
    margin-left: 70%;
    background-color: green;
    border: lightgrey;
    border-radius: 3px;
    padding: 0.3%;
    width: 70px;
    font-size: medium;
}