body {
    background-image: url(./assets/home-assets/scholarship\ image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    display: block;
    margin: 8px;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
}
#nav {
    background-color: #7BD052;
}
div {
    display: block;
}
p {
    margin-left: 2%;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
nav ul li {
    list-style: none;
    display: inline;
    padding-right: 3px;
}
#scholarship-details {
    display: flex;
    margin-top: 180px;
}