nav {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}